.hero{
    width: 100%;
    min-height: 310vh;
    background: linear-gradient(rgba(22, 22, 22, 0.5), rgba(22, 22, 22, 0.5)), url('../../assets/home_bg.png');
    background-size: auto;
    background-position: center;
    color: #fff;
}

.boxContent{
    padding-top: 8%;
    padding-left: 16%;
    padding-right: 16%;
}

.useBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 40px;
    background: linear-gradient(rgba(99, 96, 96, 0.308), rgba(99, 96, 96, 0.308));
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    border-radius: 30px;
}

.useBox:hover{
    transform: scale(1.05);
}

.useBox .contentBox {
    flex: 1;
    margin-right: 20px;
}
  
.useBox .stepBox {
    flex: 0 0 200px;
    text-align: center;
}
  
.stepBox .boxHead h1 {
    font-size: 38px;
    font-weight: 600;
    padding: 15px 30px;
    color: rgba(24, 228, 41, 0.822);
}
  
.stepBox .boxImg img {
    max-width: 100%;
    border-radius: 10px;
}
  
.contentBox h3 {
    color: #ffffff;
    font-size: 28px;
    border-bottom: 3px solid rgba(24, 228, 41, 0.822);
    padding-bottom: 10px;
   
}
  
.contentBox ul {
    list-style: none;
}
  
.contentBox ul li {
    font-size: 20px;
    color: #ffffff;
    line-height: 3;
}
  
.contentBox ul li:before {
    content: '•';
    color: #299200;
    font-size: 25px;
    padding-right: 10px;
    font-weight: 1000;
}

@media (max-width: 1200px) {
    .boxContent {
        padding-left: 12%;
        padding-right: 12%;
    }
}

@media (max-width: 992px) {
    .boxContent {
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media (max-width: 768px) {
    .boxContent {
        padding-left: 8%;
        padding-right: 8%;
    }

    .useBox {
        flex-direction: column;
        text-align: center;
        padding: 30px;
    }

    .useBox .contentBox {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .useBox .stepBox {
        flex: 1 1 100%;
        margin-bottom: 20px;
    }

    .stepBox .boxHead h1 {
        font-size: 30px;
        padding: 10px 20px;
    }

    .contentBox h3 {
        font-size: 24px;
    }

    .contentBox ul li {
        font-size: 18px;
    }
}

@media (max-width: 576px) {
    .useBox .stepBox .boxHead h1 {
        font-size: 24px;
    }

    .contentBox h3 {
        font-size: 20px;
    }

    .contentBox ul li {
        font-size: 16px;
    }
}