.hero{
    width: 100%;
    min-height: 310vh;
    background: linear-gradient(rgba(22, 22, 22, 0.5), rgba(22, 22, 22, 0.5)), url('../../assets/home_bg.png');
    background-size: cover;
    background-position: center;
    color: #fff;
}

.hero .aboutText h1{
    text-align: center;
    padding-top: 9%;
    justify-content: center;
    font-size: 80px;
}

.hero .aboutText p{
    font-size: 30px;
    line-height: 2;
}

.aboutMid{
    margin-top: 7%;
    padding-left: 10%;
    margin: 100px auto;
}

.aboutMid img{
    max-width: 500px;
    float: left;
    margin-right: 35px;
}

.VisionBody{
    background: linear-gradient(rgba(163, 151, 151, 0.301), rgba(163, 151, 151, 0.301));
    padding-top: 18px;
    border-radius: 60px;
    margin-right: 13%;
}

.aboutMid .VisionBody i{
    float: left;
    color: #ffffff;
    width: 155px;
    margin-left: 15%;
    padding-top: 15px;
}

.aboutMid .VisionBody h1{
    font-size: 55px;
    padding-top: 15px;
}

.aboutMid .VisionBody h1 span{
    color: rgb(24, 228, 41);
}

.aboutMid .VisionBody p{
    font-size: 30px;
    line-height: 2.3;
    margin-right: -7%;
}