.active{
    color: #07ff1c;
    font-weight: 700;
}

nav{
    width: 100%;
    color: #ffffff;
    font-weight: 600;
    padding: 4px 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    padding-left: 10%;
    padding-right: 10%;
}

.logo{
    width: 120px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 5px 25px;
    font-size: 25px;
}

.navBtn{
    background: #07ff1c;
    color: #121316;
    padding: 14px 25px;
    font-size: 25px;
    font-weight: 600;
    border-radius: 30px;
    cursor: pointer;
    border: 0;
    outline: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.darkNav{
    background: #777777;
    transition: 0.5s;
}

nav ul li a:not(.active):hover{
    color: rgb(0, 201, 27);
}

.navBtn:hover{
    transform: scale(1.1);
}

.menuIcon{
    display: none;
}

@media (max-width: 1000px){
    .logo{
        width: 140px;
    }

    nav ul li{
        margin: 10px 15px;
    }
}

@media (max-width: 840px){
    nav{
        padding: 15px 0;
    }

    nav ul{
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        background: #777777;
        z-index: -1;
        width: 230px;
        padding-top: 70px;
        transition: 0.5s;
    }

    nav ul li{
        display: block;
        margin: 30px 40px;
    }

    .menuIcon{
        display: block;
        width: 55px;
        cursor: pointer;
    }

    .hideMenuIcon{
        right: -230px;
    }
}