nav {
    width: 100%;
    color: #ffffff;
    font-weight: 600;
    padding: 4px 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    padding-left: 10%;
    padding-right: 10%;
  }

  .active {
    color: #07ff1c;
    font-weight: 700;
  }

  .navbar-left {
    flex: 1;
    display: flex;
    align-items: center;
  }
  
  .navbar-center {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  
  .navbar-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .logo {
    width: 120px;
  }
  
  .logo-link {
    cursor: pointer;
  }
  
  .logo-link:hover {
    transform: scale(1.2);
  }
  
  nav ul {
    display: flex;
    list-style: none;
  }
  
  nav ul li {
    margin: 5px 25px;
    font-size: 25px;
  }
  
  .navBtn {
    background: #07ff1c;
    color: #121316;
    padding: 14px 25px;
    font-size: 25px;
    font-weight: 600;
    border-radius: 30px;
    cursor: pointer;
    border: 0;
    outline: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  
  .darkNav {
    background: linear-gradient(
      135deg,
      rgba(63, 62, 62, 0.7),
      rgba(63, 62, 62, 0.7)
    );
    backdrop-filter: blur(30px);
    transition: background 0.5s, backdrop-filter 0.5s;
  }
  
  .navBtn:hover {
    transform: scale(1.1);
    color: #ffffff;
  }
  
  .menuIcon {
    display: none;
  }
  
  .user-menu {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .user-info {
    cursor: pointer;
    display: flex;
    align-items: center;
    white-space: nowrap;
  }

  .user-info span {
    font-size: larger;
  }

  .user-info:hover {
    transform: scale(1.2);
  }
  
  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 8px;
  }

  .dropdown-menu {
    position: absolute;
    top: 115%;
    right: 0;
    background: linear-gradient(
      135deg,
      rgba(63, 62, 62, 0.7),
      rgba(63, 62, 62, 0.7)
    );
    backdrop-filter: blur(30px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 10;
    border-radius: 5px;
  }
  
  .dropdown-menu li {
    padding: 8px 16px;
    cursor: pointer;
    color: #ffffff;
    background-color: #07ff1c;
    border-radius: 20px;
    font-size: large;
    margin: 15px 20px;
  }
  
  .dropdown-menu li:hover {
    color: #121316;
  }

  .spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: rgba(24, 228, 41, 0.822);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}
  
@keyframes spin {
    to { transform: rotate(360deg); }
}
  
  @media (max-width: 1000px) {
    .logo {
      width: 140px;
    }
  
    nav ul li {
      margin: 10px 15px;
    }
  }
  
  @media (max-width: 840px) {
    nav {
      padding: 15px 0;
    }
  
    .navbar-center {
      display: none;
    }
  
    .menuIcon {
      display: block;
      width: 75px;
      cursor: pointer;
      padding-right: 3%;
    }
  
    nav ul {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(
        135deg,
        rgba(63, 62, 62, 0.7),
        rgba(63, 62, 62, 0.7)
      );
      backdrop-filter: blur(30px);
      z-index: -1;
      width: 230px;
      padding-top: 70px;
      transition: 0.5s;
    }
  
    nav ul li {
      display: block;
      margin: 30px 40px;
    }
  
    .hideMenuIcon {
      right: -230px;
    }
  }
  