.background{
    width: 100%;
    max-height: auto;
    background: linear-gradient(rgba(22, 22, 22, 0.5), rgba(22, 22, 22, 0.5)), url('../../assets/home_bg.png');
    background-size: cover;
    background-position: center;
    color: #fff;
}

.loginContent{
    display: flex;
    padding-top: 10%;
    align-items: center;
    justify-content: center;
    margin-bottom: 8%;
}

.loginContent .loginImg img{
    width: 70%;
    margin-left: 30%;
}

.loginForm{
    width: 480px;
    color: #fff;
    border-radius: 30px;
    background: transparent;
    border: 3px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 30px 40px;
    margin-right: 20%;
    text-align: center;
}

.loginForm h1{
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
}

.loginForm .inputBox{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.inputBox input{
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: 2px solid rgba(24, 228, 41, 0.822);
    border-radius: 40px;
    font-size: 18px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.inputBox input::placeholder{
    color: #fff;
}

.inputBox .icon{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 25px;
    color: rgb(24, 228, 41);
}

.inputBox .togglePasswordIcon {
    position: absolute;
    right: 60px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 25px;
    color: rgb(24, 228, 41);
}

.loginForm .rememberForgot{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin: -15px 0 15px;
}

.rememberForgot label input{
    accent-color: #fff;
    margin-right: 8px;
}

.rememberForgot label{
    font-size: 18px;
}

.rememberForgot a{
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
    padding-top: 5.5px;
}

.rememberForgot a:hover{
    text-decoration: underline;
    color: rgb(24, 228, 41);
}

.loginForm button{
    width: 40%;
    height: 50px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 22px;
    color: #121316;
    font-weight: 700;
    margin-top: 5%;
}

.loginForm button:hover{
    background-color: rgb(24, 228, 41);
}

.loginForm .regLink p{
    font-size: 18px;
    text-align: center;
    margin: 20px 0 15px;
}

.regLink p a:hover{
    font-weight: 700;
    color: rgb(24, 228, 41);
}

.Toastify__toast--success {
    background-color: #4CAF50;
    color: white;
}
  
.Toastify__toast--error {
    background-color: #f44336;
    color: white;
}
  
.toast-success {
    display: flex;
    align-items: center;
    gap: 15px;
}
  
.toast-error {
    display: flex;
    align-items: center;
    gap: 15px;
}

@media (max-width: 1200px) {
    .loginContent{
        flex-direction: column;
        padding-top: 5%;
    }

    .loginContent .loginImg img{
        width: 80%;
        margin-left: 0;
    }

    .loginForm{
        width: 90%;
        margin-right: 0;
    }

    .loginForm button{
        width: 60%;
    }
}

@media (max-width: 992px) {
    .loginContent {
        flex-direction: column;
        padding-top: 5%;
        margin-bottom: 5%;
    }
    
    .loginContent .loginImg img {
        width: 100%;
        margin-left: 0;
        margin-bottom: 20px;
    }
    
    .loginForm {
        width: 90%;
        padding: 20px 20px;
        margin-right: 0;
        box-shadow: none;
        border: 2px solid rgba(255, 255, 255, 0.2);
    }
    
    .loginForm h1 {
        font-size: 32px;
    }
    
    .loginForm .inputBox {
        height: 45px;
        margin: 20px 0;
    }
    
    .inputBox input {
        font-size: 16px;
        padding: 15px 40px 15px 15px;
    }
    
    .inputBox .icon,
    .inputBox .togglePasswordIcon {
        font-size: 20px;
    }
    
    .loginForm .rememberForgot {
        font-size: 14px;
        margin: -10px 0 10px;
    }
    
    .rememberForgot label {
        font-size: 16px;
    }
    
    .rememberForgot a {
        font-size: 16px;
    }
    
    .loginForm button {
        width: 60%;
        height: 45px;
        font-size: 20px;
        margin-top: 5%;
    }
    
    .loginForm .regLink p {
        font-size: 16px;
        margin: 15px 0 10px;
    }
}

@media (max-width: 768px) {
    .loginContent {
        flex-direction: column;
        padding-top: 25%;
        margin-bottom: 5%;
    }

    .loginContent .loginImg img{
        width: 90%;
    }

    .loginForm h1{
        font-size: 30px;
    }

    .inputBox input{
        font-size: 16px;
    }

    .loginForm button{
        width: 70%;
        font-size: 20px;
    }

    .loginForm .regLink p{
        font-size: 16px;
    }
}

@media (max-width: 576px) {
    .loginContent {
        flex-direction: column;
        padding-top: 25%;
        margin-bottom: 5%;
    }
    
    .loginContent .loginImg img {
        width: 100%;
        margin: 0 auto 20px auto;
    }
    
    .loginForm {
        width: 90%;
        padding: 20px;
        margin: 0 auto;
    }
    
    .loginForm h1 {
        font-size: 30px;
    }
    
    .loginForm .inputBox {
        margin: 20px 0;
    }
    
    .loginForm button {
        width: 100%;
        margin-top: 10%;
    }
    
    .loginForm .regLink p {
        font-size: 16px;
    }
    
    .rememberForgot {
        font-size: 14px;
    }
    
    .rememberForgot label {
        font-size: 16px;
    }
    
    .rememberForgot a {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .loginForm h1{
        font-size: 24px;
    }

    .inputBox input{
        font-size: 14px;
        padding: 15px 40px 15px 15px;
    }

    .inputBox .icon,
    .inputBox .togglePasswordIcon{
        font-size: 20px;
    }

    .rememberForgot label{
        font-size: 14px;
    }

    .rememberForgot a{
        font-size: 14px;
    }

    .loginForm {
        margin-top: 30%;
    }

    .loginForm button{
        width: 80%;
        font-size: 18px;
    }

    .loginForm .regLink p{
        font-size: 14px;
    }

    .loginContent .loginImg {
        display: none;
    }
}
