@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

body{
    background: #f5f5ff;
}

a{
    text-decoration: none;
    color: inherit;
    line-height: 1;
    cursor: pointer;
}

/*.container{
    padding-left: 10%;
    padding-right: 10%;
}*/

.btn1{
    background: #07ff1c;
    color: #212121;
    padding: 14px 25px;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    border: 0;
    outline: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn2{
    background: #00ac0e;
    color: #212121;
    padding: 14px 25px;
    font-size: 30px;
    cursor: pointer;
    border-radius: 30px;
    border: 0;
    outline: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}