.backToTop button{
    position: fixed;
    bottom: 50px;
    right: 50px;
    height: 50px;
    width: 50px;
    font-size: 50px;
    color: rgb(24, 228, 41);
    background: rgb(0, 0, 0);
    cursor: pointer;
    border: none;
    border-radius: 50%;
    border-style: none;
}